<!--A Design by Jatin Mahajan
Author: Jatin Mahajan
Author URL: soon to be updated
-->
<!DOCTYPE html>
<html>
<head>
<title>Marriage Making</title>
</head>
<body>
	<meta th:fragment="includes">
	<link rel="shortcut icon" th:href="@{/resources/images/favicon.png}"
		type="image/x-icon" />
	<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"
		type="text/css"></link>
	<link th:href="@{/resources/css/templatemo_style.css}" rel="stylesheet"
		type="text/css"></link>
	<link th:href="@{/resources/css/camera.css}" rel="stylesheet"
		type="text/css"></link>
	<link th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet"
		type="text/css"></link>
	</meta>
	<meta th:fragment="scriptinclude">
	<!--//theme-style-->
	<script th:src="@{/resources/js/jquery.min.js}"></script>
	<script th:src="@{/resources/js/jquery-ui.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script th:src="@{/resources/js/jquery.singlePageNav.min.js}"></script>
	<!-- slide -->
	<script th:src="@{/resources/js/templatemo_script.js}"></script>
	<!--light-box-files -->
	<script th:src="@{/resources/js/unslider.min.js}"></script>
	</meta>
</body>
</html>